




<div class="container div-conteudo" id="teste2">
  <div class="row row-custom">
      <i class="material-icons label-icon">play_arrow</i>
      <h4>  Garantia safra </h4>
  </div>  
  
  <hr>
  <div class="col-4 col-sm-3 col-md-2">
  </div>




  <div class="col-md-12 col-xl-12 div-form-cad">
    <input class="button-geral" type="button" value="Adicionar município" data-toggle="modal" data-target="#garantiasafra">
    <div class="modal fade" id="garantiasafra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <form [formGroup]="formularioGS" (ngSubmit)="onSubmitGS()">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Inserir município para o Garantia safra</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">


              <div class="form-group">
                <select class="form-control" formControlName="anoPrograma" required >
                  <option value="">Ano do programa</option>
                  <option value="2007/2008">2007/2008</option>
                 

                </select>
               
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="uf">
                  <option value="">UF</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espirito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                </select>
                
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="municipio" id="" >
                  <option value="">Município</option>
                  <option value="Luziania">Luziânia</option>
                  <option value="Brasilia">Brasilia</option>
                  <option value="Porto Alegre">Porto Alegre</option>
                </select>
                
              </div>
              <div class="form-group">
                <select class="form-control" formControlName="status" id="" >
                  <option value="Ativado">Ativado</option>
                  <option value="Desativado">Desativado</option>
                </select>
                
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table class="col-md-8 table-geral table-sm table-striped table-bordered">
      <thead class="thead-table">
        <tr>
          <th scope="col">Ação</th>
          <th scope="col">Ano do Programa</th>
          <th scope="col">Login</th>
          <th scope="col">Município</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
            <a href="">
              <img src="/assets/x-2x.png" alt="x">
            </a>
          </td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
        <tr>
          <td>
            <a href="">
              <img src="/assets/x-2x.png" alt="x">
            </a>
          </td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
        <tr>
          <td>
            <a href="">
              <img src="/assets/x-2x.png" alt="x">
            </a>
          </td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>

      </tbody>
    </table>
    <app-form-debug [form]="formularioGS"></app-form-debug>

  </div>
</div>

<div class="container div-conteudo">
    <div class="row row-custom">
        <i class="material-icons label-icon">play_arrow</i>
        <h4>  Emissão de DAP </h4>
    </div> 
  <hr>
  <div class="col-4 col-sm-3 col-md-2">
  </div>




  <div class="col-md-12 col-xl-12 div-form-cad">
    <input class="button-geral" type="button" value="Adicionar município" data-toggle="modal" data-target="#dap">
    <div class="modal fade" id="dap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div>
          <div class="modal-content">


            <form [formGroup]="formularioDAP" (ngSubmit)="onSubmitDAP()">
              <div class="modal-header">
                <h5 class="modal-title">Inserir município para a Emissão de DAP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


                <div class="form-group">
                  <select class="form-control" formControlName="anoPrograma">
                    <option value="">Ano do programa</option>
                    <option value=""></option>


                  </select>
                  

                </div>
                <div class="form-group">
                  <select class="form-control" formControlName="uf">
                    <option value="">UF</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                  
                </div>
                <div class="form-group">
                  <select class="form-control" formControlName="municipio">
                    <option value="">Município</option>
                    <option value="Luziania">Luziânia</option>
                    <option value="Brasilia">Brasilia</option>
                    <option value="Porto Alegre">Porto Alegre</option>
                  </select>
                  
                </div>
                <div class="form-group">
                  <select class="form-control" formControlName="status">
                    <option value="Ativado">Ativado</option>
                    <option value="Desativado">Desativado</option>
                  </select>
                  
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class=" btn btn-primary ">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <table class="col-md-8 table-geral table-sm table-striped table-bordered ">
      <thead class="thead-table ">
        <tr>
          <th scope="col ">Ação</th>
          <th scope="col ">Ano do Programa</th>
          <th scope="col ">Login</th>
          <th scope="col ">Município</th>
          <th scope="col ">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>X</td>
          <td>2010</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>

        </tr>
        <tr>
          <td>X</td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
        <tr>
          <td>X</td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
       


      </tbody>
    </table>

    <app-form-debug [form]="formularioDAP"></app-form-debug>

  </div>

</div>