<script>$('#myModal').modal('hide')</script>




<div class="container div-conteudo" id="teste2">
  <h4>
    <span class="title-verde">> Garantia safra</span>
  </h4>
  <hr>
  <div class="col-4 col-sm-3 col-md-2">
  </div>




  <div class="col-md-12 col-xl-12 div-form-cad">
    <input class="button-geral" type="button" value="Adicionar município" data-toggle="modal" data-target="#garantiasafra">
    <div class="modal fade" id="garantiasafra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <form #garantiaSafra="ngForm" (ngSubmit)="onSubmit(garantiaSafra)">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Inserir município para o Garantia safra</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">


              <div class="form-group">
                <select class="form-control" name="ano_programa" required ngModel #ano="ngModel">
                  <option value="">Ano do programa</option>
                  <option value="2007/2008">2007/2008</option>
                  <option value="2009/2010">2009/2010</option>
                  <option value="2011/2012 ">2011/2012</option>
                  <option value="2013/2014">2013/2014</option>
                  <option value="2015/2016">2015/2016</option>
                  <option value="2017/2018">2017/2018</option>

                </select>
                <div *ngIf="ano.invalid && ano.touched">
                  O ano é obrigatório
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" name="uf" required ngModel #uf="ngModel">
                  <option value="">UF</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espirito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                </select>
                <div *ngIf="!uf.valid && uf.touched">
                  O estado é ogrigatório.
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" name="municipio" id="" ngModel required #municipio="ngModel">
                  <option value="">Município</option>
                  <option value="Luziania">Luziânia</option>
                  <option value="Brasilia">Brasilia</option>
                  <option value="Porto Alegre">Porto Alegre</option>
                </select>
                <div *ngIf="municipio.invalid && municipio.touched">
                  O município é ogrigatório.
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" name="status" id="" ngModel required #status="ngModel">
                  <option value="Ativado">Ativado</option>
                  <option value="Desativado">Desativado</option>
                </select>
                <div *ngIf="!status.valid && status.touched">
                  O status é ogrigatório.
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary" [disabled]="!garantiaSafra.valid">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table class="col-md-8 table-geral table-sm table-striped table-bordered">
      <thead class="thead-table">
        <tr>
          <th scope="col">Ação</th>
          <th scope="col">Ano do Programa</th>
          <th scope="col">Login</th>
          <th scope="col">Município</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
            <a href="">
              <img src="/assets/x-2x.png" alt="x">
            </a>
          </td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
        <tr>
          <td>
            <a href="">
              <img src="/assets/x-2x.png" alt="x">
            </a>
          </td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
        <tr>
          <td>
            <a href="">
              <img src="/assets/x-2x.png" alt="x">
            </a>
          </td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>

      </tbody>
    </table>
    <app-form-debug [form]="garantiaSafra"></app-form-debug>

  </div>
</div>

<div class="container div-conteudo">
  <h4>
    <span class="title-verde">> Emissão de DAP</span>
  </h4>
  <hr>
  <div class="col-4 col-sm-3 col-md-2">
  </div>




  <div class="col-md-12 col-xl-12 div-form-cad">
    <input class="button-geral" type="button" value="Adicionar município" data-toggle="modal" data-target="#dap">
    <div class="modal fade" id="dap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div NgModelGroup="formDAP">
        <div class="modal-content">

        
          <form #emissaoDAP="ngForm" (ngSubmit)="onSubmit(emissaoDAP)">
            <div class="modal-header">
              <h5 class="modal-title">Inserir município para a Emissão de DAP</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">


              <div class="form-group">
                <select class="form-control" name="ano_programa" required ngModel #anoDAP="ngModel">
                  <option value="">Ano do programa</option>
                  <option *ngFor="let anoo of getAnos()" [value]="anoo">{{anoo}}</option>
                  

                </select>
                <div *ngIf="anoDAP.invalid && anoDAP.touched">
                  O ano é obrigatório
                </div>
                
              </div>
              <div class="form-group">
                <select class="form-control" name="uf" required id="" ngModel #ufDAP="ngModel">
                  <option value="">UF</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espirito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                </select>
                <div *ngIf="!ufDAP.valid && ufDAP.touched">
                  O estado é ogrigatório.
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" name="municipio" ngModel required #municipioDAP="ngModel">
                  <option value="">Município</option>
                  <option value="Luziania">Luziânia</option>
                  <option value="Brasilia">Brasilia</option>
                  <option value="Porto Alegre">Porto Alegre</option>
                </select>
                <div *ngIf="!municipioDAP.valid && municipioDAP.touched">
                  O município é ogrigatório.
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" name="status" ngModel required #statusDAP="ngModel">
                  <option value="Ativado">Ativado</option>
                  <option value="Desativado">Desativado</option>
                </select>
                <div *ngIf="!statusDAP.valid && statusDAP.touched">
                  O status é ogrigatório.
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit"  class=" btn btn-primary " [disabled]="!emissaoDAP.valid">Salvar</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
    <table class="col-md-8 table-geral table-sm table-striped table-bordered " >
      <thead class="thead-table ">
        <tr>
          <th scope="col ">Ação</th>
          <th scope="col ">Ano do Programa</th>
          <th scope="col ">Login</th>
          <th scope="col ">Município</th>
          <th scope="col ">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>X</td>
          <td>2010</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
      
        </tr>
        <tr>
          <td>X</td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
        <tr>
          <td>X</td>
          <td>2007</td>
          <td>reinoldo</td>
          <td>Luziânia</td>
          <td>Ativado</td>
        </tr>
        <tr *ngIf="emissaoDAP.valid && emissaoDAP.submitted">
          <td>X</td>
          <td>{{ emissaoDAP.value.ano_programa }}</td>
          <td>reinoldo</td>
          <td>{{emissaoDAP.value.municipio}}</td>
          <td>{{emissaoDAP.value.status}}</td>
        </tr>
        

      </tbody>
    </table>
    
    <app-form-debug [form]="emissaoDAP "></app-form-debug>

  </div>
  
</div>