<div class="container col-md-6 col-xl-5">

  
    <h2 class="form-signin-heading">Informe login e senha </h2>
    <label for="" class="sr-only">Login</label>
    <input  [(ngModel)]="usuario.login" type="text" class="input-geral form-control" placeholder="Login" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Senha</label>
    <input [(ngModel)]="usuario.senha" type="password" id="inputPassword" class="input-geral form-control" placeholder="Senha" required="">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar
      </label>
    </div>
    <button class="button-geral btn-block" type="submit" (click)="fazerLogin()">Login</button>
  
</div>

<!-- /container -->