<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid container-menu">
<nav class="navbar navbar-expand-lg navbar-dark container container-menu">
    <a routerLink="" class="navbar-brand">SAA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/pesquisar" class="nav-link">Pesquisar</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/cadastro"  class="nav-link">Cadastrar usuário</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/vincular_perfil" class="nav-link">Vincular perfil</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/vincular_municipio" class="nav-link">Vincular municipio</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="" class="nav-link">Logout</a>
      </li>
      

    </ul>

  </div>
</nav>
</div>



  <router-outlet></router-outlet>
