

<div class="container div-conteudo">
  <div class="row row-custom">
    <i class="material-icons label-icon">play_arrow</i>
    <h4>Selecione os perfis que você deseja disponibilizar ao usuário.</h4>
  </div>
<hr>
<div class="col-md-12">
  <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display"
  [(destination)]="confirmed" height="265px" [format]="format"></dual-list>
</div>
  <hr>
  <br>
  <div class="col-md-12">
  <input class="button-geral" type="button" value="Vincular perfis" data-toggle="modal" data-target="#modal_vinc_perfil">
  </div>
  <div class="modal fade" id="modal_vinc_perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row row-custom">
            <i class="material-icons label-icon">play_arrow</i>
            <h5 class="modal-title" id="exampleModalLabel">Confirmação de ação!</h5>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Deseja vincular este(s) perfil(s) para o usuário?
        </div>
        <div class="modal-footer">
          <button type="button" class="button-geral-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="button-geral" data-dismiss="modal">Salvar</button>
        </div>
      </div>
    </div>
  </div>

</div>